<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aviso Legal</title>
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    </head>
    <body>
        <header class="header">
            <a href="/api/amigurumi/list">
                <img src="/images/logo.png" alt="Logo Amiguteka">
            </a>
            <nav>
                <a href="/api/amigurumi/list">Inicio</a>
                <a href="/api/usuario/modifica">Perfil</a>
                <a href="/api/login/logout">Cerrar sesión</a>
            </nav>
        </header>
        <h1>Aviso Legal</h1>
        <main>
            <section>
                <h2>Información General</h2>
                <p>
                    Este sitio web, <strong>Amiguteka</strong>, es propiedad de Amiguteka Interprise.
                    Los datos de contacto son:
                </p>
                <ul>
                    <li>Nombre: Amiguteka Interprise</li>
                    <li>Dirección: Palma </li>
                    <li>Email: amiguteka@gmail.com</li>
                    <li>Teléfono: 11111111111</li>
                </ul>
            </section>
            <section>
                <h2>Condiciones de Uso</h2>
                <p>
                    Al utilizar este sitio web, usted acepta las condiciones de uso establecidas, que pueden ser
                    actualizadas en cualquier momento. El acceso y uso del sitio es responsabilidad exclusiva del usuario.
                </p>
            </section>
        </main>
            <footer>
                <div class="row">
                    <div class="one-third column">
                        <p>&copy; 2024 Amiguteka</p>
                    </div>
                    <div class="one-third column">
                        <a href="/aviso-legal">AVISO LEGAL</a>
                    </div>
                    <div class="one-third column">
                        <a href="/politica-cookies">POLÍTICA DE COOKIES</a> |
                        <a href="/politica-privacidad">POLÍTICA DE PRIVACIDAD</a>
                    </div>
                </div>
            </footer>
    </body>
</html>