<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>Crear Favorito</title>
	</head>
	<body>
		<h1>Crear Nuevo Favorito</h1>
		<form th:action="@{/api/favorito/crear}" th:object="${favorito}"
			method="post">
			<label for="estado">Estado:</label> <input type="text" id="estado"
				th:field="*{estado}" required /><br />


			<label for="amigurumiId">amigurumiId:</label> <input type="text" id="amigurumiId"
				th:field="*{amigurumiId}" required /><br />


			<label for="usuarioId">usuarioId:</label> <input type="text" id="usuarioId"
				th:field="*{usuarioId}" required /><br />

			<button type="submit">Guardar</button>
		</form>
	</body>
</html>