<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Política de Privacidad</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
    <body>
        <header class="header">
            <a href="/api/amigurumi/list">
                <img src="/images/logo.png" alt="Logo Amiguteka">
            </a>
            <nav>
                <a href="/api/amigurumi/list">Inicio</a>
                <a href="/api/usuario/modifica">Perfil</a>
                <a href="/api/login/logout">Cerrar sesión</a>
            </nav>
        </header>
        <h1>Política de Privacidad</h1>
        <main>
            <section>
                <h2>Responsable del Tratamiento</h2>
                <p>
                    El responsable del tratamiento de sus datos personales es [Nombre del titular],
                    con correo electrónico [Correo electrónico de contacto].
                </p>
            </section>
            <section>
                <h2>Datos Recopilados</h2>
                <p>
                    En este sitio recopilamos los siguientes datos personales:
                </p>
                <ul>
                    <li>Datos proporcionados al registrarse: nombre, correo electrónico, etc.</li>
                    <li>Datos recopilados automáticamente: dirección IP, navegador, etc.</li>
                </ul>
            </section>
            <section>
                <h2>Finalidad del Tratamiento</h2>
                <p>
                    Los datos se utilizan para proporcionar los servicios de la aplicación, mejorar la experiencia del
                    usuario y cumplir con requisitos legales.
                </p>
            </section>
            <section>
                <h2>Derechos del Usuario</h2>
                <p>
                    Usted tiene derecho a acceder, rectificar, cancelar y oponerse al tratamiento de sus datos personales.
                    Para ejercer estos derechos, comuníquese al correo electrónico proporcionado.
                </p>
            </section>
        </main>
        <footer>
            <div class="row">
                <div class="one-third column">
                    <p>&copy; 2024 Amiguteka</p>
                </div>
                <div class="one-third column">
                    <a href="/aviso-legal">AVISO LEGAL</a>
                </div>
                <div class="one-third column">
                    <a href="/politica-cookies">POLÍTICA DE COOKIES</a> |
                    <a href="/politica-privacidad">POLÍTICA DE PRIVACIDAD</a>
                </div>
            </div>
        </footer>
    </body>
</html>
